/* body{
  min-height: calc(3000px + 100vh);
  color: #FFE3AA; 
}


nav{
  outline: auto white;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}

.menu li{
  list-style: none;
  display: inline-block;
}

.menu li a{
  color: black;
} */



/* General */
canvas {
    position: fixed;
    top: 0;
    left: 0;
}

span{
  color: #856E27;
}

h1{
  font-size: 5rem;
}

h2{
  font-size: 3rem;
}

/* Site Banner */

.site-banner .site-title h1{
  padding: 20% 0 35%;
}


/* Blockquote */

blockquote{
  color: white;
  padding: 10 0 5%;
}

blockquote h2{
  background-color: #856E27;
  padding: 5% 0 5%;
}

/* Guide */
.guide-container .row{
  margin: 4% 0 5%;
}

.guide-text p{
  font-size: medium;
}

.guide-container h2{
  color: #856E27;
}

.guide-h2 {
  font-size: 50px;
  text-align: center;
  padding: 45px;
}
.roast-align {
  text-align: center;
}

.guide-indv {
  padding: 20px;
}
/* Product */
.product-container .row{
  margin: 13% 0 15%;
}

.product-container h2{
  color: #856E27;
}

/* Cart */
.cart-quantity{
  border: 1px solid black;
  outline-color: black;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.cart-remove{
  cursor:pointer;
}

/* Profile */
.profile-header{
  margin-top: 2%;
}

.profile-welcome h3{
  color: #856E27;
}

.profile-container{
  margin-top: 2%;
}

.profile-details{
  background-color: #856E27;
  padding: 2% 0 4%;
}