/* General */
canvas {
    position: fixed;
    top: 0;
    left: 0;
}

body{
  background-color:#FEF4E6;
}

span{
  color: #856E27;
}


.body{
  background-color: #FEF4E6;
}

/* Home */
.home h2{
  font-size: 3rem;
}


/* Site Banner */

.site-banner .site-title h1{
  padding: 20% 0 35%;
}

.banner-header h1{
  font-size: 5rem;
}

/* Blockquote */

blockquote{
  color: white;
  padding: 10 0 5%;
}

blockquote h2{
  background-color: #856E27;
  padding: 5% 0 5%;
}

/* Guide */
.guide-container .row{
  margin: 4% 0 5%;
}

.guide-text p{
  font-size: x-large;
}

.guide-container h2{
  color: #856E27;
}

.guide-h2 {
  font-size: 50px;
  text-align: center;
  padding: 45px;
}
.roast-align {
  text-align: center;
}

.guide-indv {
  padding: 20px;
}
/* Product */
.product-container .row{
  margin: 13% 0 15%;
}

.product-container h2{
  color: #856E27;
}

.shop-container h3{
  color: #856E27;
}

/* Cart */
.cart-quantity{
  border: 1px solid black;
  outline-color: black;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.cart-remove{
  cursor:pointer;
}

/* Profile */
.profile-header{
  margin-top: 2%;
}

.profile-welcome h1{
  color: #856E27;
}

.profile-container{
  margin-top: 2%;
}

.profile-details{
  background-color: #856E27;
  padding: 2% 0 4%;
}

.reward-container{
  background-color: whitesmoke;
}

.reward-container h3{
  color: #856E27;
}